/* make book links appear black and not blue like default hyperlinks
 */

.book-links {
    color: black;
}

/*class to colour the ratings star  */
.checked {
    color: orange;
  }

#reviews{
    font-size: 14px;

}
#isbn{
    font-size: 13px;
    font-weight: normal;

}
