<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{{session['user']}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('search') }}">Search <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('allReviews') }}">All reviews</a>
                <a class="nav-item nav-link" href="{{ url_for('myReviews') }}">My reviews</a>
                <a class="nav-item nav-link disabled" href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>
          </nav>
    </head>
    <body>
        <div class="container">
            <div class="row">

                <!-- First section of the page-->
                <div class="col-lg-4 col-sm-6">
                    {% block body1 %}
                    {% endblock %}

                </div>
                <!-- Second section of the page-->
                <div class="col-lg-8 col-sm-6">
        {% block body2 %}
        {% endblock %}
      </div>
    </div>
    </body>
</html>
