{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body1 %}
{% endblock %}

{% block body2 %}

<p>this is my reviews</p>



</br>

<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">title</th>
            <th scope="col">author</th>
            <th scope="col">rating</th>
            <th scope="col">review</th>
            <th scope="col">user</th>
          </tr>
        </thead>

        <tbody>
                {% for review in reviews %}
                <tr>
                        <td>{{review.title}}</td>
                        <td>{{review.author}}</td>

                        {% if review.rating == 1 %}
                        <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>    
                        </td>       
                        {% elif review.rating == 2 %}
                        <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>     
                        </td>  
                        {% elif review.rating == 3 %}
                        <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        </td>  
                        {% elif review.rating == 4 %}
                        <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>           
                        </td>  
                        {% elif review.rating == 5 %}
                        <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        </td>  
                        {% endif %}

                    <td>{{review.review}}</td>
                    <td>{{review.username}}</td>
                </tr>
                {% endfor %}
        </tbody>
      </table>


{% endblock %}
