{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body1 %}

<form>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type here to find a book!">
  </div>
  <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="searchtype" id="inlineRadio1" value="all">
        <label class="form-check-label" for="inlineRadio1">All</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="searchtype" id="inlineRadio2" value="title">
        <label class="form-check-label" for="inlineRadio2">Title</label>
      </div>
      <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchtype" id="inlineRadio2" value="author">
            <label class="form-check-label" for="inlineRadio2">Author</label>
        </div>
        <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchtype" id="inlineRadio2" value="ISBN">
                <label class="form-check-label" for="inlineRadio2">ISBN</label>
        </div>
    </br>
        <button type="submit" class="btn btn-dark">Search</button>
</form>
      
{% endblock %}

{% block body2 %}

<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
            <th scope="col">ISBN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>

        </tbody>
      </table>
 
{% endblock %}
